<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Newjeanse FindPasswordPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <link rel="stylesheet" type="text/css" href="./css/font.css" />
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <link rel="stylesheet" type="text/css" href="./css/components.css" />
    <link rel="stylesheet" type="text/css" href="./css/NewJeanSeFindPasswordPage.css" />
  </head>
  <body>
    <div class="container">
      <div class="columncontrast">
        <div class="rowcontrast_one">
          <img src="public/images/img_contrast_blue_600.svg" alt="Contrast" class="contrast_one" />
          <h1 class="newjeanse ui heading size-textmd">ElectricKo!</h1>
        </div>
        <div class="columndivider">
          <div class="electricko">
            <div class="columnerrormess-2">
              <div class="columnlabel">
                <div class="rowlabel">
                  <h2 class="label_two ui heading size-textxs">아이디</h2>
                </div>
                <label class="edittext_three">
                  <input name="edittext" type="text" />
                </label>
              </div>
              <h3 class="errormessage-3 ui heading size-textxs">아이디를 입력해주세요</h3>
            </div>
            <div class="column_">
              <div class="columnlabel_one">
                <h4 class="ui heading size-textxs">이메일</h4>
                <label class="edittext_two">
                  <input name="edittext_one" type="text" />
                </label>
              </div>
              <h5 class="class-_ ui heading size-textxs">이메일 인증하기</h5>
            </div>
            <div class="columnlabel_two">
              <div class="rowlabel_two">
                <h6 class="label_two ui heading size-textxs">이메일 인증코드 확인</h6>
              </div>
              <label class="edittext_two">
                <input name="edittext_two" type="text" />
              </label>
              <p class="errormessage ui heading size-textxs">이메일 인증코드를 입력해주세요</p>
            </div>
            <div class="columnerrormess">
              <div class="columnlabel">
                <div class="rowlabel_three">
                  <p class="label_three ui heading size-textxs">새로운 비밀번호</p>
                  <div class="passwordhide">
                    <img src="public/images/img_icon.svg" alt="Icon" class="icon_one" />
                    <p class="ui text size-texts">Hide</p>
                  </div>
                </div>
                <label class="edittext_three">
                  <input name="edittext_three" type="password" />
                </label>
              </div>
              <p class="errormessage-1 ui heading size-textxs">잘못된 형식입니다</p>
            </div>
            <div class="columnerrormess">
              <div class="columnlabel">
                <div class="rowlabel_three">
                  <p class="label_three ui heading size-textxs">새로운 비밀번호 확인</p>
                  <div class="passwordhide">
                    <img src="public/images/img_icon.svg" alt="Icon" class="icon_one" />
                    <p class="ui text size-texts">Hide</p>
                  </div>
                </div>
                <label class="edittext_three">
                  <input name="edittext_four" type="password" />
                </label>
              </div>
              <p class="errormessage-1 ui heading size-textxs">비밀번호를 입력해주세요</p>
            </div>
          </div>
          <div class="divider_one"></div>
          <button class="flex-row-center-center class-___">새로운 비밀번호 설정 완료</button>
        </div>
      </div>
    </div>
  </body>
</html>
