<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Newjeanse chartdetailpage[x]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <link rel="stylesheet" type="text/css" href="./css/font.css" />
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <link rel="stylesheet" type="text/css" href="./css/components.css" />
    <link rel="stylesheet" type="text/css" href="./css/NewJeanSeChartDetailPagex.css" />
  </head>
  <body>
    <div class="column">
      <div class="desktop1">
        <div class="header">
          <img src="public/images/img_iconamoon_star_thin.svg" alt="Image" class="image" />
          <img src="public/images/img_.svg" alt="Image" class="image_one" />
        </div>
        <div class="list___">
          <div class="column-1">
            <div class="row_ten">
              <div class="row_six">
                <div class="column__">
                  <div class="row___">
                    <h1 class="ui heading size-textmd">전력 수요 예측 관련 디테일 데이터</h1>
                    <img src="public/images/img_arrow_down.png" alt="전력 수요 예측 관련 디테일" class="class-____" />
                  </div>
                  <div class="row___-1">
                    <div class="column__-3">
                      <p class="ui text size-texts">월간 전력 수요 예측 차트</p>
                      <div class="row_two">
                        <div class="row_one">
                          <div class="columnzipcode">
                            <div class="rowzipcode">
                              <p class="zipcode ui text size-textxs">1000</p>
                              <div class="vector_one"></div>
                            </div>
                            <div class="rowsevenhundred">
                              <p class="ui text size-textxs">750</p>
                              <div class="vector_three"></div>
                            </div>
                            <div class="rowsevenhundred">
                              <p class="ui text size-textxs">500</p>
                              <div class="vector_three"></div>
                            </div>
                            <div class="rowsevenhundred">
                              <p class="ui text size-textxs">250</p>
                              <div class="vector_three"></div>
                            </div>
                            <div class="rowzero">
                              <p class="ui text size-textxs">0</p>
                              <div class="vector_three"></div>
                            </div>
                          </div>
                          <div class="columnone">
                            <div class="row">
                              <img src="public/images/img_group.png" alt="Image" class="image-1" />
                            </div>
                            <div class="rowone">
                              <p class="one ui text size-textxs">1</p>
                              <div class="vector_eleven"></div>
                              <div class="columnvector-25">
                                <div class="vector-2"></div>
                                <p class="ui text size-textxs">2</p>
                              </div>
                              <div class="columnvector-26">
                                <div class="vector-2"></div>
                                <p class="ui text size-textxs">3</p>
                              </div>
                              <div class="columnvector-26">
                                <div class="vector-2"></div>
                                <p class="ui text size-textxs">4</p>
                              </div>
                              <div class="columnvector-26">
                                <div class="vector-2"></div>
                                <p class="ui text size-textxs">5</p>
                              </div>
                              <div class="columnvector-26">
                                <div class="vector-2"></div>
                                <p class="ui text size-textxs">6</p>
                              </div>
                              <div class="columnvector-26">
                                <div class="vector-2"></div>
                                <p class="ui text size-textxs">7</p>
                              </div>
                              <div class="columnvector-26">
                                <div class="vector-2"></div>
                                <p class="ui text size-textxs">8</p>
                              </div>
                              <div class="columnvector-32">
                                <div class="vector-2"></div>
                                <p class="ui text size-textxs">9</p>
                              </div>
                              <div class="columnvector-33">
                                <div class="vector-11"></div>
                                <p class="ui text size-textxs">10</p>
                              </div>
                              <div class="columnvector-33">
                                <div class="vector-2"></div>
                                <p class="ui text size-textxs">11</p>
                              </div>
                              <div class="columnvector-33">
                                <div class="vector-2"></div>
                                <p class="twelve ui text size-textxs">12</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex-col-center-center column__-4">
                      <p class="ui text size-texts">실시간 전력 수요 예측 차트</p>
                      <div class="rowonehundred">
                        <div class="columnvector">
                          <div class="rowvector-1">
                            <div class="columnonehundre">
                              <div class="rowonehundred-3">
                                <p class="onehundred_one ui text size-textxs">100</p>
                                <div class="vector-15"></div>
                              </div>
                              <div class="rowonehundred-3">
                                <p class="seventyfive_one ui text size-textxs">75</p>
                                <div class="vector-16"></div>
                              </div>
                              <div class="rowonehundred-3">
                                <p class="seventyfive_one ui text size-textxs">50</p>
                                <div class="vector-16"></div>
                              </div>
                              <div class="rowonehundred-3">
                                <p class="seventyfive_one ui text size-textxs">25</p>
                                <div class="vector-16"></div>
                              </div>
                              <div class="rowzero_two">
                                <p class="ui text size-textxs">0</p>
                                <div class="vector-19"></div>
                              </div>
                            </div>
                            <div class="row_five">
                              <div class="row_eight">
                                <div class="row_seven">
                                  <img src="public/images/img_group_red_a100.svg" alt="Image" class="image_two" />
                                </div>
                              </div>
                            </div>
                            <div class="vector-1"></div>
                          </div>
                          <div class="vector"></div>
                          <div class="rowvector">
                            <div class="columnvector-1">
                              <div class="vector-2"></div>
                              <p class="ui text size-textxs">1</p>
                            </div>
                            <div class="columnvector-2">
                              <div class="vector-2"></div>
                              <p class="ui text size-textxs">2</p>
                            </div>
                            <div class="columnvector-2">
                              <div class="vector-2"></div>
                              <p class="ui text size-textxs">3</p>
                            </div>
                            <div class="columnvector-2">
                              <div class="vector-2"></div>
                              <p class="ui text size-textxs">4</p>
                            </div>
                            <div class="columnvector-2">
                              <div class="vector-2"></div>
                              <p class="ui text size-textxs">5</p>
                            </div>
                            <div class="columnvector-2">
                              <div class="vector-2"></div>
                              <p class="ui text size-textxs">6</p>
                            </div>
                            <div class="columnvector-2">
                              <div class="vector-2"></div>
                              <p class="ui text size-textxs">7</p>
                            </div>
                            <div class="columnvector-2">
                              <div class="vector-2"></div>
                              <p class="ui text size-textxs">8</p>
                            </div>
                            <div class="columnvector-9">
                              <div class="vector-2"></div>
                              <p class="ui text size-textxs">9</p>
                            </div>
                            <div class="columnvector-10">
                              <div class="vector-11"></div>
                              <p class="ui text size-textxs">10</p>
                            </div>
                            <div class="columnvector-11">
                              <div class="vector-2"></div>
                              <p class="ui text size-textxs">11</p>
                            </div>
                            <div class="columnvector-12">
                              <div class="vector-2"></div>
                              <p class="ui text size-textxs">12</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-col-center-center columntwo_two">
                <p class="ui text size-texts">디테일 차트 2</p>
                <div class="rowonehundred">
                  <div class="columnvector">
                    <div class="rowonehundred-1">
                      <div class="columnonehundre">
                        <div class="rowonehundred-3">
                          <p class="onehundred_one ui text size-textxs">100</p>
                          <div class="vector-15"></div>
                        </div>
                        <div class="rowonehundred-3">
                          <p class="seventyfive_one ui text size-textxs">75</p>
                          <div class="vector-16"></div>
                        </div>
                        <div class="rowonehundred-3">
                          <p class="seventyfive_one ui text size-textxs">50</p>
                          <div class="vector-16"></div>
                        </div>
                        <div class="rowonehundred-3">
                          <p class="seventyfive_one ui text size-textxs">25</p>
                          <div class="vector-16"></div>
                        </div>
                        <div class="rowzero_two">
                          <p class="ui text size-textxs">0</p>
                          <div class="vector-19"></div>
                        </div>
                      </div>
                      <div class="row_nine">
                        <div class="row_eight">
                          <div class="row_seven">
                            <img src="public/images/img_group_red_a100.svg" alt="Image" class="image_two" />
                          </div>
                        </div>
                      </div>
                      <div class="vector-1"></div>
                    </div>
                    <div class="vector"></div>
                    <div class="rowvector">
                      <div class="columnvector-1">
                        <div class="vector-2"></div>
                        <p class="ui text size-textxs">1</p>
                      </div>
                      <div class="columnvector-2">
                        <div class="vector-2"></div>
                        <p class="ui text size-textxs">2</p>
                      </div>
                      <div class="columnvector-2">
                        <div class="vector-2"></div>
                        <p class="ui text size-textxs">3</p>
                      </div>
                      <div class="columnvector-2">
                        <div class="vector-2"></div>
                        <p class="ui text size-textxs">4</p>
                      </div>
                      <div class="columnvector-2">
                        <div class="vector-2"></div>
                        <p class="ui text size-textxs">5</p>
                      </div>
                      <div class="columnvector-2">
                        <div class="vector-2"></div>
                        <p class="ui text size-textxs">6</p>
                      </div>
                      <div class="columnvector-2">
                        <div class="vector-2"></div>
                        <p class="ui text size-textxs">7</p>
                      </div>
                      <div class="columnvector-2">
                        <div class="vector-2"></div>
                        <p class="ui text size-textxs">8</p>
                      </div>
                      <div class="columnvector-9">
                        <div class="vector-2"></div>
                        <p class="ui text size-textxs">9</p>
                      </div>
                      <div class="columnvector-10">
                        <div class="vector-11"></div>
                        <p class="ui text size-textxs">10</p>
                      </div>
                      <div class="columnvector-11">
                        <div class="vector-2"></div>
                        <p class="ui text size-textxs">11</p>
                      </div>
                      <div class="columnvector-12">
                        <div class="vector-2"></div>
                        <p class="ui text size-textxs">12</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column-4 container-xs">
              <h2 class="ui heading size-textmd">
                안녕하세요!<br />전력 수요 예측 관련 디테일 데이터의 설명이 들어갈 Text 공간
              </h2>
            </div>
          </div>
          <div class="column-1">
            <div class="row_ten-1">
              <div>
                <div class="column__">
                  <div class="row___-2"></div>
                  <div class="row___-3"></div>
                </div>
              </div>
            </div>
            <div class="column-4 container-xs">
              <h3 class="ui heading size-textmd">
                안녕하세요!<br />전력 공급 예측 관련 디테일 데이터의 설명이 들어갈 Text 공간
              </h3>
            </div>
          </div>
          <div class="column-1">
            <div class="row_ten-1">
              <div>
                <div class="column__">
                  <div class="row___-2"></div>
                  <div class="row___-3"></div>
                </div>
              </div>
            </div>
            <div class="column-4 container-xs">
              <h4 class="ui heading size-textmd">
                안녕하세요!<br />전력 수요 예측 관련 디테일 데이터의 설명이 들어갈 Text 공간
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
