<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Newjeanse LoginPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <link rel="stylesheet" type="text/css" href="./css/font.css" />
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <link rel="stylesheet" type="text/css" href="./css/components.css" />
    <link rel="stylesheet" type="text/css" href="./css/NewJeanSeLoginPage.css" />
  </head>
  <body>
    <div class="newjeanse-loginpage">
      <div class="loginsection">
        <div class="columncontrast">
          <div class="rowcontrast_one">
            <img src="public/images/img_contrast.svg" alt="Contrast" class="contrast_one" />
            <h1 class="newjeanse ui heading size-textmd">ElectricKo!</h1>
          </div>
          <p class="ui text size-textxl">
            <span class="class--span"> 당신이 알고싶은<br />대한민국&nbsp;</span>
            <span class="class--span-1"> 전력 에너지의 모든 것</span>
          </p>
          <div class="columnelectrick">
            <h2 class="electricko ui heading size-textmd">
              ElectricKo! 와 함께하실<br />광고주님의 연락을 기다립니다!
            </h2>
          </div>
        </div>
        <div class="columndivider">
          <div class="columndivider-1">
            <div class="column_-1">
              <button class="flex-row-center-center class-__-1">
                <img src="public/images/img_profile.svg" alt="Profile" class="profile" />
                <span> 카카오 계정으로 로그인</span>
              </button>
              <button class="flex-row-center-center class-__-2">
                <img src="public/images/img_contrast_white_a700.svg" alt="Contrast" class="contrast" />
                <span> 네이버 계정으로 로그인</span>
              </button>
            </div>
            <div class="divider">
              <div class="divider_one"></div>
              <h2 class="or ui heading size-textlg">OR</h2>
              <div class="divider_one"></div>
            </div>
            <div class="electricko-1">
              <div class="column">
                <div class="columnlabel">
                  <div class="rowlabel">
                    <p class="label ui text size-textxs">아이디</p>
                  </div>
                  <label class="edittext-1">
                    <input name="edittext" type="text" />
                  </label>
                </div>
                <a href="../newjeanse_findidpage/NewJeanSeFindIdPage.html" class="class-_-1 ui text size-textxs">아이디를 잊어버리셨나요?</a>
              </div>
              <div class="column-1">
                <div class="column-2">
                  <div class="columnlabel">
                    <div class="rowlabel_one">
                      <p class="or ui text size-textxs">비밀번호</p>
                      <div class="passwordhide">
                        <img src="public/images/img_icon.svg" alt="Icon" class="icon_one" />
                        <p class="hide ui text size-texts">Hide</p>
                      </div>
                    </div>
                    <label class="edittext-1">
                      <input name="edittext_one" type="password" />
                    </label>
                  </div>
                  <a href="../newjeanse_findpasswordpage_2/NewJeanSeFindPasswordPage.html" class="class-_-1 ui text size-textxs">비밀번호를 잊어버리셨나요?</a>
                </div>
                <label class="-2 ui checkbox">
                  <input type="checkbox" name="아이디저장" class="ui checkbox size-xs primary" />
                  <div>아이디 저장</div>
                </label>
              </div>
              <button class="flex-row-center-center class-___">로그인</button>
            </div>
          </div>
          <div class="divider_five"></div>
          <div class="column_">
            <h3 class="class-__ ui heading size-textlg">아직 회원이 아니신가요?</h3>
            <button class="flex-row-center-center class-_">회원 가입</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
