<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Newjeanse ocrresultpage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <link rel="stylesheet" type="text/css" href="./css/font.css" />
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <link rel="stylesheet" type="text/css" href="./css/components.css" />
    <link rel="stylesheet" type="text/css" href="./css/NewJeanSeOCRResultPage.css" />
  </head>
  <body>
    <div class="stacklock-one">
      <div class="row_one">
        <header class="headerlock_one">
          <div class="rowlock_one">
            <a href="#">
              <img src="public/images/img_lock.svg" alt="Lock" class="lock_one" />
            </a>
            <p class="class-_ ui text size-textmd">멋진사람 정지용</p>
          </div>
          <div class="row">
            <div class="rowsearch_one">
              <a href="#">
                <img src="public/images/img_search.png" alt="Search" class="search_one" />
              </a>
              <p class="class-_ ui text size-texts">사용자 설정 변경</p>
            </div>
            <div class="rowweuisetting">
              <a href="#">
                <img src="public/images/img_weui_setting_filled.svg" alt="Weuisetting" class="weuisetting_one" />
              </a>
              <p class="class-_ ui text size-texts">내 DB에 데이터 저장</p>
            </div>
            <div class="rowsettings_one">
              <a href="#">
                <img src="public/images/img_settings.png" alt="Settings" class="search_one" />
              </a>
              <p class="class-_ ui text size-texts">사용자 설정 데이터베이스</p>
            </div>
          </div>
        </header>
      </div>
      <div class="rowcheckmark">
        <div class="receipt">
          <div class="columncheckmark">
            <div class="header">
              <button class="checkmark_one">
                <img src="public/images/img_checkmark.svg" />
              </button>
              <div class="rowocr2024">
                <h1 class="ocr2024 ui heading size-text2xl">
                  OCR 기술을 활용한 2024년 7월<br /><br />
                  전기 요금 최적화 완료!
                </h1>
              </div>
            </div>
            <div class="column__">
              <div class="amountrow">
                <div class="paymentdetail-7">
                  <h2 class="class-__-2 ui heading size-textxl">최적 전기 요금</h2>
                  <h3 class="class-__-2 ui heading size-textxl">282,300 ₩</h3>
                </div>
                <div class="paymentdetail-7">
                  <h4 class="class-__-3 ui heading size-textxl">현재 전기 요금</h4>
                  <h5 class="class-__-3 ui heading size-textxl">321,800 ₩</h5>
                </div>
                <div class="paymentdetail-7">
                  <h6 class="class-___one ui heading size-textxl">아낀 전기 요금</h6>
                  <p class="class-___one ui heading size-textxl">39,500 ₩</p>
                </div>
              </div>
              <div class="line_one"></div>
            </div>
          </div>
          <div class="column">
            <div>
              <div class="columnvector">
                <div class="rowvector">
                  <div class="columnzipcode">
                    <div class="rowzipcode">
                      <p class="zipcode ui text size-textxs">340000</p>
                      <div class="vector_one"></div>
                    </div>
                    <div class="rowvector_three">
                      <p class="zipcode-1 ui text size-textxs">255000</p>
                      <div class="vector_three"></div>
                    </div>
                    <div class="rowvector_three">
                      <p class="zipcode-1 ui text size-textxs">170000</p>
                      <div class="vector_three"></div>
                    </div>
                    <div class="rowvector_three">
                      <p class="zipcode-1 ui text size-textxs">85000</p>
                      <div class="vector_three"></div>
                    </div>
                    <div class="rowzero">
                      <p class="zipcode-1 ui text size-textxs">0</p>
                      <div class="vector_three"></div>
                    </div>
                  </div>
                  <div class="vector_eleven"></div>
                  <div class="stack">
                    <img src="public/images/img_group.svg" alt="Image" class="image" />
                    <img src="public/images/img_group_red_a400.svg" alt="Image" class="image_one" />
                  </div>
                </div>
                <div class="vector_thirteen"></div>
                <div class="rowvector-1">
                  <div class="columnvector-1">
                    <div class="vector_fifteen"></div>
                    <p class="ui text size-textxs">기본 요금</p>
                  </div>
                  <div class="columnvector-2">
                    <div class="vector"></div>
                    <p class="ui text size-textxs">전력량 요금</p>
                  </div>
                  <div class="columnvector-3">
                    <div class="vector_fifteen"></div>
                    <p class="ui text size-textxs">역률 요금</p>
                  </div>
                  <div class="columnvector-4">
                    <div class="vector"></div>
                    <p class="ui text size-textxs">대가족 요금</p>
                  </div>
                  <div class="columnvector-5">
                    <div class="vector-2"></div>
                    <p class="ui text size-textxs">다자녀 할인</p>
                  </div>
                  <div class="columnvector-6">
                    <div class="vector_fifteen"></div>
                    <p class="ui text size-textxs">복지 할인</p>
                  </div>
                  <div class="columnvector-4">
                    <div class="vector-4"></div>
                    <p class="ui text size-textxs">자동납부 할인</p>
                  </div>
                  <div class="columnvector-8">
                    <div class="vector-2"></div>
                    <p class="ui text size-textxs">인터넷 할인</p>
                  </div>
                  <div class="columnvector-9">
                    <div class="vector-2"></div>
                    <p class="ui text size-textxs">모바일 할인</p>
                  </div>
                  <div class="columnvector-10">
                    <div class="vector-2"></div>
                    <p class="ui text size-textxs">연체료</p>
                  </div>
                  <div class="columnvector-3">
                    <div class="vector_fifteen"></div>
                    <p class="ui text size-textxs">미납 요금</p>
                  </div>
                  <div class="columnvector-4">
                    <div class="vector-9"></div>
                    <p class="ui text size-textxs">TV 수신료</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="detailsrow">
              <div class="paymentdetail">
                <p class="class-__one ui text size-textlg">기본 요금</p>
                <p class="price ui heading size-textxl">36,300 ₩</p>
              </div>
              <div class="paymentdetail">
                <p class="class-__one ui text size-textlg">전력량 요금</p>
                <p class="price ui heading size-textxl">258,350 ₩</p>
              </div>
              <div class="paymentdetail">
                <p class="class-__one ui text size-textlg">할인 총액</p>
                <p class="price ui heading size-textxl">- 16,680 ₩</p>
              </div>
              <div class="paymentdetail">
                <p class="class-__one ui text size-textlg">TV 수신료</p>
                <p class="price ui heading size-textxl">3,500 ₩</p>
              </div>
              <div class="paymentdetail">
                <p class="class-__one ui text size-textlg">기타</p>
                <p class="price ui heading size-textxl">8,300 ₩</p>
              </div>
              <div class="paymentdetail">
                <p class="class-__one ui text size-textlg">원단위 절사</p>
                <p class="price ui heading size-textxl">0 ₩</p>
              </div>
              <div class="paymentdetail-6">
                <p class="class-___one ui heading size-textxl">최적 전기 요금</p>
                <p class="class-___one ui heading size-textxl">282,300 ₩</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
