<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Newjeanse signuppage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <link rel="stylesheet" type="text/css" href="./css/font.css" />
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <link rel="stylesheet" type="text/css" href="./css/components.css" />
    <link rel="stylesheet" type="text/css" href="./css/NewJeanSeSignUpPage.css" />
  </head>
  <body>
    <div class="row">
      <div class="flex-col-center-center columncontrast">
        <div class="rowcontrast_one">
          <img src="public/images/img_contrast.svg" alt="Contrast" class="contrast_one" />
          <h1 class="newjeanse ui heading size-textmd">ElectricKo!</h1>
        </div>
        <div class="columndivider">
          <div class="electricko">
            <div>
              <div class="columnerrormess-2">
                <div class="columnlabel-1">
                  <div class="rowlabel_three">
                    <p class="ui text size-textxs">아이디</p>
                    <div class="passwordhide">
                      <img src="public/images/img_icon.svg" alt="Icon" class="icon_three" />
                      <p class="hide_one ui text size-texts">Hide</p>
                    </div>
                  </div>
                  <label class="edittext_one">
                    <input name="edittext" type="text" />
                  </label>
                </div>
                <p class="errormessage-1 ui text size-textxs">아이디를 입력해주세요</p>
              </div>
            </div>
            <div class="column_">
              <div class="columnlabel_one">
                <div class="rowlabel_one">
                  <p class="label_two ui text size-textxs">이메일</p>
                </div>
                <label class="edittext_one">
                  <input name="edittext_one" type="text" />
                </label>
              </div>
              <p class="class-_ ui text size-textxs">이메일 인증하기</p>
            </div>
            <div class="columnlabel_two">
              <div class="rowlabel_two">
                <p class="label_two ui text size-textxs">이메일 인증코드 확인</p>
              </div>
              <label class="edittext_two">
                <input name="edittext_two" type="text" />
              </label>
              <p class="errormessage ui text size-textxs">이메일 인증코드를 입력해주세요</p>
            </div>
            <div class="columnerrormess">
              <div class="columnlabel-1">
                <div class="rowlabel_three">
                  <p class="ui text size-textxs">비밀번호</p>
                  <div class="passwordhide">
                    <img src="public/images/img_icon.svg" alt="Icon" class="icon_three" />
                    <p class="hide_one ui text size-texts">Hide</p>
                  </div>
                </div>
                <label class="edittext_one">
                  <input name="edittext_three" type="text" />
                </label>
              </div>
              <p class="errormessage-1 ui text size-textxs">잘못된 형식입니다</p>
            </div>
            <div class="columnerrormess">
              <div class="columnlabel-1">
                <div class="rowlabel_three">
                  <p class="ui text size-textxs">비밀번호 확인</p>
                  <div class="passwordhide">
                    <img src="public/images/img_icon.svg" alt="Icon" class="icon_three" />
                    <p class="hide_one ui text size-texts">Hide</p>
                  </div>
                </div>
                <label class="edittext_one">
                  <input name="edittext_four" type="text" />
                </label>
              </div>
              <p class="errormessage-1 ui text size-textxs">비밀번호를 입력해주세요</p>
            </div>
            <div class="columnlabel">
              <div class="rowlabel_two">
                <p class="label_two ui text size-textxs">닉네임</p>
              </div>
              <label class="edittext_two">
                <input name="edittext_five" type="text" />
              </label>
              <p class="errormessage-3 ui text size-textxs">닉네임을 입력해주세요</p>
            </div>
          </div>
          <div class="divider_one"></div>
          <button class="flex-row-center-center class-__" id="signup-complete">회원 가입 완료</button>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div id="signup-modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-body">
          <img src="public/images/check_icon.svg" alt="Check Icon" class="check-icon">
          <h2>회원가입을 완료했습니다</h2>
          <p>감사합니다!</p>
          <button class="modal-button" id="login-button">로그인하기</button>
        </div>
      </div>
    </div>

    <script src="scripts.js"></script>
  </body>
</html>
