<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Newjeanse mainmappage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <link rel="stylesheet" type="text/css" href="./css/font.css" />
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <link rel="stylesheet" type="text/css" href="./css/components.css" />
    <link rel="stylesheet" type="text/css" href="./css/NewJeanSeMainMapPage.css" />
  </head>
  <body>
    <div class="row-seven">
      <div class="column_">
        <header class="header_">
          <div class="row_">
            <a href="#">
              <img src="public/images/img_iconamoon_star_thin.svg" alt="Image" class="image" />
            </a>
            <p class="class-_ ui heading size-text2xl">서울시 성동구</p>
          </div>
          <div class="row_two">
            <div class="row_one">
              <div class="rowlock_one">
                <a href="#">
                  <img src="public/images/img_lock.svg" alt="Lock" class="lock_one" />
                </a>
                <p class="class-_-1 ui text size-textlg">멋진사람 정지용</p>
              </div>
              <div class="row">
                <div class="rowsearch_one">
                  <a href="../newjeanse_userstatepage/NewJeanSeUserStatePage.html">
                    <img src="public/images/img_search.png" alt="Search" class="search_one" />
                  </a>
                  <p class="class-__ ui text size-textmd">사용자 설정 변경</p>
                </div>
                <div class="rowsettings_one">
                  <a href="../newjeanse_userdatabasepage/NewJeanSeUserDatabasePage.html">
                    <img src="public/images/img_settings.png" alt="Settings" class="search_one" />
                  </a>
                  <p class="class-_-1 ui text size-textmd">사용자 설정 데이터베이스</p>
                </div>
                <div class="rowsettings">
                  <a href="../newjeanse_chartdetailpagex/NewJeanSeChartDetailPagex.html">
                    <img src="public/images/img_settings_white_a700.png" alt="Settings" class="search_one" />
                  </a>
                  <p class="class-__-2 ui text size-textmd">사용자 설정값<br />기반 예측 시뮬레이션</p>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="stack__">
          <div class="row_six">
            <div class="column">
              <div class="row___">
                <div class="column__">
                  <h1 class="ui heading size-textxl">월간 전력 수요 예측 차트</h1>
                  <div class="row_five">
                    <div class="row_four">
                      <div class="columnzipcode">
                        <div class="rowzipcode">
                          <p class="zipcode ui text size-texts">1000</p>
                          <div class="vector_one"></div>
                        </div>
                        <div class="rowsevenhundred">
                          <p class="ui text size-texts">750</p>
                          <div class="vector_three"></div>
                        </div>
                        <div class="rowsevenhundred">
                          <p class="ui text size-texts">500</p>
                          <div class="vector_three"></div>
                        </div>
                        <div class="rowsevenhundred">
                          <p class="ui text size-texts">250</p>
                          <div class="vector_three"></div>
                        </div>
                        <div class="rowzero">
                          <p class="ui text size-texts">0</p>
                          <div class="vector_three"></div>
                        </div>
                      </div>
                      <div class="columnone">
                        <div class="row_three">
                          <img src="public/images/img_group.svg" alt="Image" class="image_one" />
                        </div>
                        <div class="rowone">
                          <p class="one-1 ui text size-texts">1</p>
                          <div class="vector_eleven"></div>
                          <div class="columnvector-6">
                            <div class="vector-3"></div>
                            <p class="ui text size-texts">2</p>
                          </div>
                          <div class="columnvector-7">
                            <div class="vector-3"></div>
                            <p class="ui text size-texts">3</p>
                          </div>
                          <div class="columnvector-7">
                            <div class="vector-3"></div>
                            <p class="ui text size-texts">4</p>
                          </div>
                          <div class="columnvector-7">
                            <div class="vector-3"></div>
                            <p class="ui text size-texts">5</p>
                          </div>
                          <div class="columnvector-7">
                            <div class="vector-3"></div>
                            <p class="ui text size-texts">6</p>
                          </div>
                          <div class="columnvector-7">
                            <div class="vector-3"></div>
                            <p class="ui text size-texts">7</p>
                          </div>
                          <div class="columnvector-7">
                            <div class="vector-3"></div>
                            <p class="ui text size-texts">8</p>
                          </div>
                          <div class="columnvector-13">
                            <div class="vector-3"></div>
                            <p class="ui text size-texts">9</p>
                          </div>
                          <div class="columnvector-14">
                            <div class="vector-16"></div>
                            <p class="ui text size-texts">10</p>
                          </div>
                          <div class="columnvector-14">
                            <div class="vector-3"></div>
                            <p class="ui text size-texts">11</p>
                          </div>
                          <div class="columnvector-14">
                            <div class="vector-16"></div>
                            <p class="ui text size-texts">12</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column-1">
                <h2 class="ui heading size-textxl">전력 수요가 전국 전력 공급량에서 차지하는 비율</h2>
                <div class="rowvector">
                  <div>
                    <div class="rowvector-1">
                      <div class="columnonehundre">
                        <div class="rowonehundred">
                          <p class="zipcode ui text size-texts">100</p>
                          <div class="vector-5"></div>
                        </div>
                        <div class="rowseventyfive">
                          <p class="ui text size-texts">75</p>
                          <div class="vector-6"></div>
                        </div>
                        <div class="rowfifty">
                          <p class="ui text size-texts">50</p>
                          <div class="vector-6"></div>
                        </div>
                        <div class="rowfifty">
                          <p class="ui text size-texts">25</p>
                          <div class="vector-6"></div>
                        </div>
                        <div class="rowseventyfive">
                          <p class="ui text size-texts">0</p>
                          <div class="vector-6"></div>
                        </div>
                      </div>
                      <div class="vector-1"></div>
                      <div class="columnvector">
                        <div class="stackvector">
                          <div class="rowvector-4">
                            <div class="vector-19"></div>
                            <div class="vector-19"></div>
                          </div>
                          <div class="rowvector-5">
                            <div class="vector-19"></div>
                            <div class="vector-19"></div>
                          </div>
                          <div class="stack_">
                            <div class="column_-2">
                              <div class="row__one">
                                <p class="class-__one-1 ui text size-textxs">서울시 성동구</p>
                                <p class="ui text size-textxs">서울시 성북구</p>
                              </div>
                              <div class="stack3fortysix">
                                <p class="class-3fortysix ui text size-textxs">3.46%</p>
                                <img src="public/images/img_group_purple_800.svg" alt="Image" class="image_two" />
                              </div>
                            </div>
                            <div class="row_-1">
                              <p class="class-_-3 ui text size-textxs">서울시 동작구</p>
                              <p class="class-_ ui text size-textxs">3.56%</p>
                              <p class="thirtysix ui text size-textxs">3.6%</p>
                            </div>
                          </div>
                        </div>
                        <div class="vector-2"></div>
                      </div>
                    </div>
                    <div class="vector"></div>
                    <div class="rowvector-2">
                      <div class="columnvector-1">
                        <div class="vector-3"></div>
                        <p class="class-___-1 ui text size-texts">...</p>
                      </div>
                      <div class="rowvector-3">
                        <div class="columnvector-3">
                          <div class="vector_sixtyone"></div>
                          <p class="class-___-1 ui text size-texts">33위</p>
                        </div>
                        <div class="columnvector-4">
                          <div class="vector-9"></div>
                          <p class="class-___-1 ui text size-texts">32위</p>
                        </div>
                        <div class="columnvector-5">
                          <div class="vector-10"></div>
                          <p class="class-___-1 ui text size-texts">31위</p>
                        </div>
                      </div>
                      <div class="columnvector-2">
                        <div class="vector-3"></div>
                        <p class="class-___-1 ui text size-texts">...</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column_-1">
                <div class="column-2">
                  <h3 class="ui heading size-textxl">대체에너지 비율에 따른 전력 생산 비용 및 탄소 배출량 변화</h3>
                  <img src="public/images/img_image_5.png" alt="Imagefive" class="imagefive_one" />
                </div>
                <p class="class-___ ui text size-textmd">더 자세하게 데이터 찾아보기</p>
              </div>
            </div>
            <div class="api">
              <div class="columnicon_one">
                <div class="rowicon_one">
                  <img src="public/images/img_icon.svg" alt="Icon" class="icon_three" />
                  <h4 class="class-__one ui heading size-textxl">창 숨기기</h4>
                </div>
                <div class="flex-col-center-center columnui">
                  <p class="ui-1 ui text size-textmd">예측 데이터 지도 상 UI 표시 단위</p>
                  <div class="row-1">
                    <label class="-1 ui checkbox">
                      <input type="checkbox" name="전국" class="ui checkbox size-xs primary" />
                      <div>전국</div>
                    </label>
                    <label class="-2 ui checkbox">
                      <input type="checkbox" name="광역특별시도" class="ui checkbox size-xs primary" />
                      <div>광역·특별시 / 도</div>
                    </label>
                    <label class="-3 ui checkbox">
                      <input type="checkbox" name="일반시군구" class="ui checkbox size-xs primary" />
                      <div>일반시·군·구</div>
                    </label>
                  </div>
                  <p class="ui-1 ui text size-textmd">지도 상 UI 표시 예측 데이터 종류</p>
                  <div class="row-2">
                    <label class="-4 ui checkbox">
                      <input type="checkbox" name="전력수요" class="ui checkbox size-xs primary" />
                      <div>전력 수요</div>
                    </label>
                    <label class="-4 ui checkbox">
                      <input type="checkbox" name="수요차지비율" class="ui checkbox size-xs primary" />
                      <div>수요 차지 비율</div>
                    </label>
                    <label class="-4 ui checkbox">
                      <input type="checkbox" name="탄소배출량" class="ui checkbox size-xs primary" />
                      <div>탄소 배출량</div>
                    </label>
                  </div>
                  <p class="ui-1 ui text size-textmd">체크 범위만 UI에 표시</p>
                  <div class="row-3">
                    <label class="-7 ui checkbox">
                      <input type="checkbox" name="과다" class="ui checkbox size-xs primary" />
                      <div>과다</div>
                    </label>
                    <label class="-8 ui checkbox">
                      <input type="checkbox" name="주의" class="ui checkbox size-xs primary" />
                      <div>주의</div>
                    </label>
                    <label class="-9 ui checkbox">
                      <input type="checkbox" name="적정" class="ui checkbox size-xs primary" />
                      <div>적정</div>
                    </label>
                    <label class="-10 ui checkbox">
                      <input type="checkbox" name="쾌적" class="ui checkbox size-xs primary" />
                      <div>쾌적</div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="rowicon_three">
            <img src="public/images/img_icon.svg" alt="Icon" class="icon_three" />
            <h5 class="class-__one ui heading size-textxl">창 숨기기</h5>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
